/* Import the fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&family=Urbanist:wght@400;700&display=swap');


/* Body styles */
.body-container {
  margin: 0;
  padding: 0;
  background-image: url('/src/pages/images/back2.jpg');
  background-size: cover;
}
.about-us-container {
  background-size: contain; /* Adjusted to 'contain' */
  background-position: center;
  padding: 4rem; /* Adjust padding as needed */
}

/* Define the font classes */
.font-rowdies {
  font-family: 'Rowdies', sans-serif;
}

.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}
