.input-field {
    border: 1px solid #CBD5E0;
    border-radius: 0.375rem;
    padding: 0.75rem;
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
  }
  
  .input-field:focus {
    border-color: #4A90E2;
  }
  
  .add-image-button {
    background-color: #EDF2F7;
    color: #4A90E2;
    border: 1px solid #CBD5E0;
    border-radius: 0.375rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .add-image-button:hover {
    background-color: #4A90E2;
    color: #EDF2F7;
  }
  
  .add-product-button {
    background-color: #38A169;
    color: #EDF2F7;
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .add-product-button:hover {
    background-color: #2C7A46;
  }
  